:php
  $name = get_exchange_name('slush')

.instructions_add
  %h2 Adding a #{$name} account

  %ol.steps
    %li
      Log into your
      != link_to("https://beta.mining.bitcoin.cz/accounts/settings/", "$name account")
      and visit your <i>Settings</i> page.
      %br
      %img{:src => url_for("img/accounts/slush1.png")}

    %li
      Select the <i>Manage API tokens</i> tab, and find your <i>current token</i>.
      %br
      %img{:src => url_for("img/accounts/slush2.png")}

    %li
      Copy and paste this <i>current token</i> into the
      != link_to(url_for('wizard_accounts_pools'), '"Add new Mining Pool" form', array('class' => "wizard_link"))
      and click "Add account".
      %br
      %img{:src => url_for("img/accounts/slush3.png")}

.instructions_safe
  %h2 Is it safe to provide #{t(":site_name")} a #{$name} API key?

  %ul
    %li
      At the time of writing, a #{$name} API key can only be used to retrieve account balances and
      worker status; it is not possible to perform transactions or change user details using the API key.

    %li
      Your #{$name} API keys will <i>never</i> be displayed on the #{t(":site_name")} site,
      even if you have logged in.

    %li
      You may generate a new API token at any time by visiting your <i>Manage API tokens</i> tab,
      and clicking <i>Generate new token</i>.
      %br
      %img{:src => url_for("img/accounts/slush_delete.png")}
